<div class="animated fadeIn slow mt-5 mb-5">
    <div class="row no-gutters">
        <div class="col-sm-4 kit mt-4">
            <h2 class="text-center fs-l t-orange">
                Primera equipació
            </h2>
            <br>
            <img class="img-responsive"
                src="../../../../assets/images/kit/1kit.jpg"
                alt="Primera equipació">
        </div>
        <div class="col-sm-4 kit mt-4">
            <h2 class="text-center fs-l t-orange">
                Segona equipació
            </h2>
            <br>
            <img class="img-responsive"
                src="../../../../assets/images/kit/2kit.jpg"
                alt="Segona equipació">
        </div>
        <div class="col-sm-4 kit mt-4">
            <h2 class="text-center fs-l t-orange">
                Porters
            </h2>
            <br>
            <img class="img-responsive"
                src="../../../../assets/images/kit/pkit.jpg"
                alt="Equipació porters">
        </div>
    </div>
</div>