<app-banner-card [floatImg]="'left'"
    [imgHtml]="weImg"
    [textHtml]="weText"></app-banner-card>
<app-banner-card [floatImg]="'none'"
    [textHtml]="colabText"></app-banner-card>
<app-banner-card [floatImg]="'right'"
    [imgHtml]="teamImg"
    [textHtml]="teamText"></app-banner-card>
<app-banner-card [floatImg]="'none'"
    [textHtml]="trainerText"></app-banner-card>
<app-banner-card [floatImg]="'none'"
    [textHtml]="juntaText"></app-banner-card>
<app-banner-card [floatImg]="'left'"
    [imgHtml]="fieldImg"
    [textHtml]="fieldText"></app-banner-card>
<app-kit></app-kit>
<app-banner-card [floatImg]="'none'"
    [textHtml]="disclaimerText"></app-banner-card>