<div class="row no-gutters mt-5 justify-content-center animated fadeIn slow">
    <form autocomplete="on"
        (ngSubmit)="save()"
        class="w-75"
        [formGroup]="formChronicle">

        <div class="form-group">
            <button type="button"
                routerLink="/admin/chronicles"
                class="btn btn-outline-orange float-left">
                    <i class="fas fa-arrow-left"></i>
                    Tornar
                    </button>
            <button type="submit"
                class="btn btn-outline-orange float-right"
                [disabled]="formChronicle.invalid">
                    Guardar
                    <i class="fas fa-save"></i>
                </button>
        </div>
        <br>
        <br>
        <div class="form-row">
            <div class="col">
                <input class="form-control"
                    type="text"
                    placeholder="Local"
                    formControlName="local">
            </div>
            <div class="col">
                <input class="form-control"
                    type="text"
                    placeholder="Resultat"
                    formControlName="resultado">
            </div>
            <div class="col">
                <input class="form-control"
                    type="text"
                    placeholder="Visitant"
                    formControlName="visitante">
            </div>
        </div>
        <br>
        <br>
    </form>
</div>

<div class="row no-gutters mb-5 justify-content-center animated fadeIn slow">
    <div class="col pl-2 pr-2">
        <h1 class="text-center t-orange fs-m">Jugadors</h1>
        <input class="form-control"
            type="number"
            [(ngModel)]="min"
            placeholder="Minut">
        <table class="table table-sm">
            <tbody>
                <tr *ngFor="let jugador of equipo.jugadores">
                    <td>
                        {{jugador.nombre}}
                    </td>
                    <td>
                        <i class="fa fa-futbol-o orange-hover"
                            (click)="addToGoleadores(jugador)"></i>
                    </td>
                    <td>
                        <i class="fa fa-arrow-circle-right orange-hover"
                            (click)="addToAsistentes(jugador)"></i>
                    </td>
                    <td>
                        <i class="fa fa-square yellow-hover"
                            (click)="addToAmarillas(jugador)"></i>
                    </td>
                    <td>
                        <i class="fa fa-square red-hover"
                            (click)="addToRojas(jugador)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col pl-2 pr-2">
        <h1 class="text-center t-orange fs-m">Golejadors</h1>
        <table class="table table-sm">
            <tbody>
                <tr *ngFor="let goleador of cronica.goleadores, let i = index"
                    class="animated fadeIn fast">
                    <td>
                        {{goleador.jugador.nombre}}
                    </td>
                    <td>
                        <i class="fa fa-futbol-o"></i>
                    </td>
                    <td>
                        {{goleador.minuto}}'
                    </td>
                    <td class="text-right">
                        <i class="fas fa-times red-hover"
                            (click)="removeFromGoleadores(goleador._id, i)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col pl-2 pr-2">
        <h1 class="text-center t-orange fs-m">Assistents</h1>
        <table class="table table-sm">
            <tbody>
                <tr *ngFor="let asistente of cronica.asistentes; let i = index"
                    class="animated fadeIn fast">
                    <td>
                        {{asistente.jugador.nombre}}
                    </td>
                    <td>
                        <i class="fa fa-arrow-circle-right"></i>
                    </td>
                    <td>
                        {{asistente.minuto}}'
                    </td>
                    <td class="text-right">
                        <i class="fas fa-times red-hover"
                            (click)="removeFromAsistentes(asistente._id, i)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col pl-2 pr-2">
        <h1 class="text-center t-orange fs-m">Amonestats</h1>
        <table class="table table-sm">
            <tbody>
                <tr *ngFor="let amonestado of amonestados, let i = index"
                    class="animated fadeIn fast">
                    <td>
                        {{amonestado.jugador.nombre}}
                    </td>
                    <td>
                        <i class="fa fa-square"
                            [ngClass]="{'red-card': amonestado.tipo === 'roja',
                                    'yellow-card': amonestado.tipo === 'amarilla'}">
                        </i>
                    </td>
                    <td>
                        {{amonestado.minuto}}'
                    </td>
                    <td class="text-right">
                        <i class="fas fa-times red-hover"
                            *ngIf="amonestado.tipo === 'amarilla'"
                            (click)="removeFromAmarillas(amonestado._id,i)"></i>
                        <i class="fas fa-times red-hover"
                            *ngIf="amonestado.tipo === 'roja'"
                            (click)="removeFromRojas(amonestado._id,i)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="hide-editor animated fadeIn slow">
    <hr>
    <div class="row no-gutters justify-content-center mt-5">
        <ckeditor [editor]="editor"
            [config]="{
                toolbar: [
                'bold', 'italic','|',
                'undo', 'redo'
                ]
            }"
            [(ngModel)]="texto"
            class="w-80">
        </ckeditor>
    </div>
</div>

<div class="show-instead-of-editor animated fadeIn slow">
    <hr>
    <div class="row no-gutters justify-content-center mt-5">
        <div class="alert alert-warning"
            role="alert">
            <i class="far fa-frown-open"></i> L'editor de text no està disponible a la versió de mòbil!
        </div>
    </div>
</div>