<div class="fs-m card mb-3 mt-5 mb-5 border-0 animated fadeIn slow">
    <div class="row no-gutters">

        <div class="col-md-4 text-center"
            *ngIf="floatImg === 'left'"
            [innerHTML]="imgHtml">
        </div>
        <div class="col-md-8 b-grey"
            *ngIf="floatImg === 'left'">
            <div class="card-body flex-container-column"
                [innerHTML]="textHtml">
            </div>
        </div>

        <div class="col-md-12 p-4"
            *ngIf="floatImg === 'none'">
            <div class="card-body p-3 flex-container-column"
                [innerHTML]="textHtml">
            </div>
        </div>

        <div class="col-sm-8 b-grey"
            *ngIf="floatImg === 'right'">
            <div class="card-body flex-container-column"
                [innerHTML]="textHtml">
            </div>
        </div>
        <div class="col-sm-4 text-center"
            *ngIf="floatImg === 'right'"
            [innerHTML]="imgHtml">
        </div>

    </div>
</div>