<footer class="footer hide-on-collapse">
    <app-login class="hide-on-collapse"></app-login>
    <p class="float-right text-muted fs-xxs mb-1 mr-2">
        Resultats i classificacions obtingudes de
        <a href="http://fcf.cat/"
            target="_blank">fcf.cat</a>
    </p>
</footer>
<footer class="footer b-grey show-on-collapse">
    <app-login class="flex-container"></app-login>
    <button type="button"
        (click)="open('https://twitter.com/CscFutsal')"
        class="btn btn-outline-info btn-sm m-1">
    <i class="fa fa-twitter"></i>
    </button>
    <button type="button"
        (click)="open('https://www.instagram.com/cscfutsal/')"
        class="btn btn-outline-warning btn-sm m-1">
    <i class="fa fa-instagram"></i>
    </button>
    <p class="float-right text-muted fs-xxs mb-1 mr-2 show-on-collapse">
        Dades obtingudes de
        <a href="http://fcf.cat/"
            target="_blank">fcf.cat</a>
    </p>
</footer>